<nav>
    <ul>
        <li><a href="/shop" class="<%=activate === 'shop' ? 'active' : '' %>">Shop</a></li>
        <li><a href="/admin" class="<%=activate === 'admin' ? 'active' : '' %>">Admin</a></li>
    </ul>
</nav>