<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <main class="container">
                <h3>Not found</h3>
            </main>
    </body>

    </html>