<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>All users</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/users">Home</a></li>
            <li><a href="/users/all">Users</a></li>
        </ul>
    </nav>
    <main class="container">
        <h1>All users</h1>
        <p>No existing users</p>
        <ul id="userList">

        </ul>
    </main>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const userList = document.querySelector('main>ul');
            const storageContent = window.localStorage.getItem('users');
            if (storageContent === null) {
                userList.classList.add('hide');
            } else {
                document.querySelector('main>p').classList.add('hide');
                const users = JSON.parse(storageContent);
                const userElems = users.map(user => {
                    return `<li>${user.firstName} ${user.lastName}</li>`;
                })
                userList.innerHTML = userElems.join('');
            }
        })
    </script>
</body>

</html>