form {
  margin-top: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.3rem;
}

#title,
#content {
  line-height: 1.5rem;
  padding: 0 1rem;
  border-radius: 5px;
}

button {
  background-color: rgb(64, 64, 187);
  color: #fff;
  padding: 0.6rem;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #aaa;
}

input:focus,
button:focus {
  outline: none;
}

button:active {
  box-shadow: none;
}
